body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.contato-cabecalho {
    text-align: center;
    max-width: 100%; /* Largura máxima do texto */
}

.secao-contato {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.secao-contato h1 {
    color: #1b3675;
    margin-bottom: 20px;
}

.secao-contato p {
    margin-bottom: 30px;
    color: #666;
}

.formulario-contato label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-contato input, .formulario-contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario-contato .submit-button {
    padding: 12px 30px;
    background-color: #1b3675;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.formulario-contato .submit-button:hover {
    background-color: #fdb203;
    transform: scale(1.05);
}