/* Seção de depoimentos */
.depoimentos-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
}

/* Carrossel */
.depoimentos-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    height: auto;
}


.contato-text {
  flex: 1; /* Define a proporção da área do texto */
  max-width: 100%; /* Limita a largura máxima do texto */
  display: flex;
  flex-direction: column; /* Coloca o texto em coluna */    
  align-items: center; /* Centraliza o texto horizontalmente */
  justify-content: center; /* Centraliza o texto verticalmente */
  padding: 20px; /* Espaçamento interno */
}

.contato-text h1 {
  font-size: 36px;
  color: #1b3675;
  margin-bottom: 20px;
  text-transform: uppercase; /* Texto em maiúsculas */
}

.contato-text p {
  font-size: 18px;
  color: #454545;
  line-height: 1.6; /* Melhor espaçamento entre linhas */
}


/* Cada depoimento */
.depoimento {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Imagem do cliente */
.depoimento img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Texto do depoimento */
.depoimento p {
    font-size: 18px;
    font-weight: bold;
    color: #1b3675;
}

/* Nome do cliente */
.depoimento span {
    font-size: 14px;
    color: #fdb203;
}

/* Responsividade */
@media (max-width: 768px) {
    .depoimentos-section {
        max-width: 90%;
    }

    .depoimentos-carousel {
        height: auto;
    }

    .depoimento p {
        font-size: 16px;
    }
    .contato-text {
        padding: 10px;
    }
    .contato-text h1 {
        font-size: 28px;
    }
    .contato-text p {
        font-size: 16px;
    }

}
